.main {
  display: flex;
  justify-content: center;
}

.box {
  border: solid 5px black;
  width: 500px;
  height: 1000px;
  margin: 30px;
  text-align: center;
}

.box img {
  width: 100%;
}

.win {
  border: solid 5px green;
  color: green;
  
}

.lose {
  border: solid 5px red;
  color: red;
  
}

.tie {
  border: solid 5px black;
  color: black;

}